<form class="body">
  <div class="column-left">
    <div class="column-group">
      <label for="INSS">INSS:</label>
      <input readonly [(ngModel)]="inss" name="inss" id="INSS"/>
    </div>
    <div class="column-group">
      <label for="IRRF">IRRF:</label>
      <input readonly [(ngModel)]="irrf" name="irrf" id="IRRF"/>
    </div>
    <div class="column-group">
      <label for="SALARIO_COM_DESCONTOS">Total:</label>
      <input readonly [(ngModel)]="salarioComDesconto" name="salarioComDesconto" type='number' id="SALARIO_COM_DESCONTOS"/>
    </div>
  </div>

  <div class="column-right">
    <label for="SALARIO">SALARIO:</label>
    <input (keyup)="onKeyPress($event)" type='number' id="SALARIO"/>
  </div>

</form>